* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 300px;
  max-width: 80%;
}

.tagline {
  margin-top: 25px;
  font-size: 1.4rem;
  color: rgb(236, 31, 39);
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
}

.sub {
  margin-top: 20px;
  font-size: 0.9rem;
  opacity: 0.8;
}

/* SECTIONS */
section {
  padding: 80px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: rgb(236, 31, 39);
}

/* ABOUT */
.about p {
  max-width: 700px;
  margin: auto;
  line-height: 1.6;
}

/* PROJECTS */
.projects {
  background: rgba(0,0,0,0.5);
}

.card {
  background: rgba(255,255,255,0.05);
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: rgb(236, 31, 39);
  text-decoration: none;
}

/* SERVICES */
.services ul {
  list-style: none;
}

.services li {
  margin: 10px 0;
}

/* CONTACT */
.contact p {
  margin-top: 20px;
}

/* FOOTER */
footer {
  padding: 30px;
  text-align: center;
  font-size: 0.7rem;
  opacity: 0.7;
}
