* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Arka plan + pixel font */
body {
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

/* Ortalama */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logo */
.logo {
  width: 320px;
  max-width: 80%;
  height: auto;
}

/* slogan */
.tagline {
  margin-top: 25px;
  font-size: 1rem;
  text-align: center;
  color: rgb(236, 31, 39);
  text-shadow: 1px 1px 0 #000;
}

/* coming soon */
.coming {
  margin-top: 40px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: rgb(236, 31, 39);
  text-shadow: 1px 1px 0 #000;
}
